<!-- 
*************************************************************
-------------------------------------------------------------
               FILE MUST BE SAVED USING
           CTRL + K, THEN CTRL + SHIFT + S
               CODE WILL BREAK OTHERWISE

      HTML VALIDATORS THINK FILE IS BROKEN, IT ISN'T!!!
-------------------------------------------------------------
************************************************************* 
-->


<% layout('layouts/boilerplate')%>
    <div crossorigin="anonymous" id="cluster-map"></div>
    <h1>All Campgrounds</h1>

    <% for (let campground of campgrounds) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.images.length) {%>
                        <img crossorigin="anonymous" class="img-fluid" alt="" src="<%=campground.images[0].url%>">
                        <% }else {%>
                            <img crossorigin="anonymous" class="img-fluid" alt=""
                                src="https://res.cloudinary.com/dpdm9k4ld/image/upload/v1682288458/YelpCamp/vfivzkjm19c5enyxj2bl.jpg">
                            <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=campground.title%>
                        </h5>
                        <p class="card-text">
                            <%=campground.description%>
                        </p>
                        <p class="card-text">
                            <small class="text-secondary">
                                <%=campground.location%>
                            </small>
                        </p>
                        <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">View
                            <%=campground.title%>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

            <script>
                const mapToken = '<%- process.env.MAPBOX_TOKEN%>';
                //-----******!!!!!BEFORE SAVING!!!!!******----------
                //--------CTRL + K, THEN CTRL + SHIFT + S-----------
                const campgrounds = { features: <%-JSON.stringify(campgrounds) %> };
                //--------------------------------------------------
            </script>

            <script src="/javascripts/clusterMap.js"></script>